<div class="footer-container">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-4 d-flex flex-column footer-text">
                <img width="150" height="45" src="assets/dhd-logo-footer.png" alt="DevHd Logo"
                    style="max-width: 100%; height: auto; margin-left: -10px;">
                <span>Strada Delea Veche 24, Bucuresti</span>
                <span>Phone:
                    <a href="tel:+40722 361 489" class="hover-white">+40722 361 489</a>
                </span>
                <span>E-mail:
                    <a href="mailto:office@dev-hd.com" class="hover-white">office@dev-hd.com</a>
                </span>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-sm-center">
                <div class="d-flex flex-column align-items-start">
                    <h4>Site Links</h4>
                    <ul class="footer-menu footer-text">
                        <li class="footer-menu-item">
                            <a routerLink="/servicenow">ServiceNow</a>
                        </li>
                        <li class="footer-menu-item">
                            <a href="http://">Services</a>
                        </li>
                        <li class="footer-menu-item">
                            <a routerLink="/blog">Blog</a>
                        </li>
                        <li class="footer-menu-item">
                            <a href="http://">Company</a>
                        </li>
                        <li class="footer-menu-item">
                            <a href="http://">Careers</a>
                        </li>
                        <li class="footer-menu-item">
                            <a href="http://">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-sm-end">
                <div class="d-flex flex-column align-items-start footer-text">
                    <h4>Connect With Us</h4>
                    <a href="http://">
                        <fa-icon [icon]="faFacebook" style="margin-right: 10px;"></fa-icon>
                        <span>Facebook</span>
                    </a>
                    <a href="http://">
                        <fa-icon [icon]="faLinkedin" style="margin-right: 10px;"></fa-icon>
                        <span>Linkedin</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row small-text">
            <div class="col-md-4 d-flex justify-content-center justify-content-sm-start">
                <span>©Copyright 2020 DevHD. All rights reserved.</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex justify-content-sm-end flex-column flex-sm-row align-items-center footer-text">
                <a style="margin-right: 20px;" routerLink="/terms-and-conditions">Terms and Conditions</a>
                <a routerLink="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>