<div class="container" style="margin-top: 50px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h4 style="text-align: left;">Introduction</h4>
            <p style="text-align: left;">This website is the property of DEVHD through:</p>
            <p style="text-align: left;">
                <strong>SC DEV-HD Services SRL</strong><br>
                <strong>Identification No.: RO36376287</strong><br>
                <strong>CR.: J29/1386/2016</strong><br>
                <strong>Address: Republicii 191, Ploiesti, Prahova, Romania</strong><br>
                <strong>IBAN: RO94INGB0000999906134566</strong><br>
                <strong>Bank: ING BANK NV</strong></p>
            <p style="text-align: left;">General terms and conditions for using this website.</p>

            <h4 style="text-align: left;">1. COPYRIGHT</h4>
            <p style="text-align: left;">The pages of this website are protected by copyright law. Any pieces of
                content,
                translations, sharing or display on social media are protected by copyright. If you wish to use complete
                or partial
                any content from this website, you would need to forward a written request. The content and the
                structure of this
                website are protected by copyright law.</p>
            <p style="text-align: left;">Any press photos of DEVHD can be used only in articles. DEVHD images must
                contain –
                copyright „©DEVHD. All rights reserved.”</p>

            <h4 style="text-align: left;">2. THIRD PARTIES</h4>
            <p style="text-align: left;">Our website contains links (hyperlinks) to other websites. The content of this
                other
                websites is not completely known to our company. DEVHD allows access to these websites but it’s not
                responsible for
                the content they share. These links are build to make your navigation much smoother. We don’t identify
                our company
                and mission with any third party website content and we can’t be hold accountable for their content.</p>
            <p style="text-align: left;">c. DEVHD is not responsible for any copyright infringement with other third
                party websites.
            </p>
            <p style="text-align: left;">d. In case you choose a product or service from a third party website that has
                a link on
                DEVHD, any issues you might have with that product or service will be solved between you and the third
                party. DEVHD
                is not responsible for any contracts signed with third party vendors.</p>

            <h4 style="text-align: left;">3. GENERAL PROVISIONS</h4>
            <p style="text-align: left;">Any responsibility DEVHD may have for any damage caused from using this website
                – excluding
                legal caused, including offenses is limited to prejudice caused willingly or by misconduct. Also,
                DEVHD’s mandatory
                responsibility for contract breaches will be limited to predictable prejudice. This will not affect the
                law for
                product/service responsibility. Responsibility limitation doesn’t apply in case of body injuries or
                health issues.
            </p>
            <p style="text-align: left;">DEVHD commits to fight viruses and not let them on this website. On the other
                hand, DEVHD,
                cant guarantee a website absolutely free of viruses. This being said, we advise caution on what you
                download from
                this website. Scanning the file/document would be advised.</p>

            <h4 style="text-align: left;">4. RESPONSIBILITY LIMITATION</h4>
            <p style="text-align: left;">All data, information, documents, comments and content on this website are
                provided for
                information purpose. This information represents sales consulting and doesn’t indicate any investments.
                DEVHD can
                remove or modify such information without previous notice. Though we try to always present accurate
                information, we
                can’t be held responsible for any error or mislead on a service or product.</p>

            <h4 style="text-align: left;">5. ON-LINE COMMUNICATION</h4>
            <p style="text-align: left;">Please note that we don’t offer any guarantees that messages sent by DEVHD will
                be received
                by its receiver the way it was sent or that its information will remain confidential or untouched.</p>

            <h4 style="text-align: left;">6. ACCEPTING OUR TERMS AND CONDITIONS</h4>
            <p style="text-align: left;">This website can be used by any age category. By using this website you took
                notice and
                agree our terms and conditions presented into this page.</p>

            <h4 style="text-align: left;">7. PRIVACY POLICY</h4>
            <p style="text-align: left;">All information provided by any entity using DEVHD will remain confidential. We
                will not
                use this information other than statistic and marketing purpose.</p>
            <p style="text-align: left;">More details can be found on the following page: <a
                routerLink="/privacy-policy">PRIVACY POLICY</a></p>

            <h4 style="text-align: left;">8. DECLARATIONS</h4>
            <p style="text-align: left;">All declarations made on this website are according to our mission and
                principles.</p>

            <h4 style="text-align: left;">9. OTHER</h4>
            <p style="text-align: left;">This document is under Romanian law.</p>
            <p style="text-align: left;">Updated today November 15th 2018.</p>
            <p style="text-align: left;">DEVHD can modify the content of this page without sending any previous
                notifications.</p>
            <p style="text-align: left;">For any questions, please send us an email at office@dev-hd.com or call us at
                +40722 361
                489</p>
        </div>
    </div>
</div>