<div id="carouselHero" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/arrow-loop.gif" alt="...">
            <div class="container">
                <div class="carousel-text" style="color: black;">
                    <h5>Explore Enterprise Solutions</h5>
                    <p>Your digital transformation journey starts here</p>
                    <a routerLink="/servicenow" (click)="onSelectedRoute(0, '/servicenow')" class="button-block button-block--brand active hide" [ngClass]="{'shake-top': shakeLeft}">
                        <span>get started</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="carousel-item">
            <img src="assets/hero-blu.png" alt="...">
            <div class="container">
                <div class="carousel-text" style="color: black;">
                    <h5>Explore Enterprise Solutions</h5>
                    <p>Your digital transformation journey starts here</p>
                    <a href="#" class="button-block button-block--brand active hide">
                        <span>get started</span>
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</div>